body {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #4f64cf;
}
div.column {
  /* border: 0.1px solid black; */
  height: 30px;
  width: 30px;
  display: inline-block;
  /* margin: 1px; */
}
#container {
  border: 1px solid black;
  width: fit-content;
  padding: 75px 50px;
  background: rgb(133, 116, 222);
  background: linear-gradient(
    0deg,
    rgba(133, 116, 222, 1) 1%,
    rgba(197, 217, 228, 1) 40%
  );
}
/* div.row {
  margin: 5px;
} */
