body {
  display: grid;
  justify-content: center;
  align-content: center;
}
div.column {
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  display: inline-block;
  margin: 10px;
}
#container {
  border: 1px solid black;
  width: fit-content;
}
div.row {
  margin: 5px;
}
